body {
  background-color: #F68989;
}

hr {
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1 {
   color: #874356;
   font-family:  sans-serif;
}
h3 {
  color: #874356;
  font-family: sans-serif;
}
